html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}
form {
  display: flex;
  flex-direction: column;
  width: auto;
  -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.75);
  padding: 5em;
}
form label {
  margin: 15px 0 5px 0;
}
form button {
  margin: 15px auto;
  padding: 15px 20px;
  border-radius: 5px;
  border: 0;
  width: auto;
  text-transform: uppercase;
  background-color: rgb(224, 0, 52);
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
form button:hover {
  background-color: rgb(255, 60, 84)
}

div.reasons{
  margin-top: 20px;
}

div.reasons div{
  margin: 5px 0;
}

div.reasons input{
  margin-right: 5px;
}
